<h1>Home#page</h1>
<p>Find me in app/views/home/page.html.erb</p>
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<li class="nav-item">
        <%= link_to destroy_user_session_path, class: "nav-link", :title => "Log Out", method: :delete do %>
         <i class="far fa-user navicon" ></i>
        <% end %>
        
=======
>>>>>>> parent of 866def3... facebook authenticator feature
=======
>>>>>>> parent of 866def3... facebook authenticator feature
=======
>>>>>>> parent of 8a9cffc... Revert "facebook authenticator feature"
